################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FypPronouncerPro/.vs/FypPronouncerPro/FileContentIndex
